<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Cart">
    <insert id="save" parameterType="cart">
        insert into cart_table(memberId, productId, productName, productPrice, productCount, productFileName)
        values (#{memberId}, #{productId}, #{productName}, #{productPrice}, #{productCount}, #{productFileName})
    </insert>
    <select id="findAll" parameterType="String" resultType="cart">
        select * from cart_table where memberId=#{memberId}
    </select>
    <select id="countCart" resultType="int">
        select count(*) from cart_table where memberId=#{memberId} and productId=#{productId}
    </select>
    <select id="sumCart" parameterType="cart">
        update cart_table set productCount = productCount + #{productCount} where memberId=#{memberId} and productId=#{productId}
    </select>
</mapper>














